*~
*.class
*ackup
target
*/target/*
servicemix-*
*foo*
*.orig
*.iml
*.log
*.log.[0-9]*
src/main/resources/keystores/extracted.pem
src/main/resources/keystores/intermediate.p12

# .idea folder with exclusions
.idea/libraries
.idea/sonarlint
.idea/*.xml
!.idea/inspectionProfiles
!.idea/codeStyles
